<h1>All our Flats (<%= @flats.length %>)</h1>

<div class="card-deck">
  <% @flats.each do |flat| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= flat.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
      <p class="card-text">
        <i class="fas fa-user-friends"></i><%= flat.number_of_guests %> 
        <i class="fas fa-euro-sign"></i><%= flat.price_per_night %>
      </p>
    </div>
    <div class="card-footer">
      <p class="card-link"><%= link_to "More info", flat_path(flat) %></p>
      <p class="card-link"><%= link_to "Remove", flat, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <p class="card-link"><%= link_to "Edit", edit_flat_path(flat) %></p>
    </div>
  </div>
  <% end %>
</div>